<!doctype html>
<html lang="en-US">

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <!--ovenfor tilføjet--->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootswatch/4.5.2/cyborg/bootstrap.min.css" integrity="sha384-nEnU7Ae+3lD52AK+RGNzgieBWMnEfgTbRHIwEvp1XXPdqdO6uLTd/NwXbzboqjc2" crossorigin="anonymous">

  <title>IFridge</title>
</head>

<body>
  <div class="jumbotron">
    <h1>Welcome to IFridge</h1>
  </div>
  <div id="app">
    <div class="panel panel-primary">
      <div class="panel-heading">Input new grocery</div>
      <!--vi har brug for denne klasse "panel panel-primary" for at få fat med Axios-->
      <div class="panel-body">
        <form class="form-inline" id="groceryInputForm" v-on:submit.prevent="add()"> 
          <div class="form-group">
            <br>
            <input id="barcodeInput" type="number" class="form-control" v-model.number="formData.barcode" placeholder="Barcode #">
            <input id="nameInput" type="text" class="form-control" v-model="formData.wareName" placeholder="Name">
            <input id="categoriInput" type="text" class="form-control" v-model="formData.categori" placeholder="Categori">
            <input id="expirationDateInput" type="number" class="form-control" v-model.number="formData.expiration" placeholder="Expiration Date">
            <input id="weightInput" type="number" class="form-control" v-model.number="formData.weight" placeholder="Weight">
            <input id="pictureInput" type="text" class="form-control" v-model="formData.picture" placeholder="Picture">
          </div>
          <button id="add" class="btn btn-primary">Add to IFridge</button>
        </form>
      </div>
    </div>
    <br>
    <div class="panel panel-primary">
      <div class="panel-heading">Get Inventory from your Fridge</div>
      <div class="panel-body">
        <button id= "getAllButton" class="btn btn-primary" v-on:click="getAllGroceries()">Get Inventory</button>
        <button id= "clearButton" class="btn btn-warning" v-on:click="clearList">Clear</button><br/>
        <ul v-if="groceries.length > 0">
          <li v-for="grocery in groceries">
            Barcode: {{grocery.barcode}} Name: {{grocery.wareName}} Category: {{grocery.category }} Expiration Date: {{ grocery.expiration}} Weight: {{ grocery.weight}} Picture: {{ grocery.picture}}
          </li>
        </ul>
      </div>
    </div>
  <div class="panel panel-primary">
        
    <table>
       <thead>
        <tr>
          <th id="barcodeButton" @click="sort('barcode')">Barcode</th>
          <th id="wareNameButton" @click="sort('wareName')">Warename</th>
          <th id="expirationDateButton" @click="sort('expiration')">Expiration</th>
          <th id="categoryButton" @click="sort('category')">Category</th>
          <th id="weightButton" @click="sort('weight')">Weight</th>
        </tr>
      </thead>
     <tbody>
        <tr v-for="groceries in sortedGroceries">
          <td>{{groceries.barcode}}</td>
          <td>{{groceries.wareName}}</td>
          <td>{{groceries.expiration}}</td>
          <td>{{groceries.category}}</td>
          <td>{{groceries.weight}}</td>
          <td>{{groceries.picture}}</td>
          <td></td>
        </tr>
      </tbody>
    </table>
  <button id="getAllGroceriesButton" v-on:click="getAllGroceries()">Update List</button>
  debug: sort={{currentSort}}, dir={{currentSortDir}}
    </div>
  </div> 
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
 
  <script src="bundle.js"></script>
</body>

</html>