<!doctype html>
<html lang="en-US">

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  
  
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <!--ovenfor tilføjet--->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootswatch/4.5.2/cyborg/bootstrap.min.css" integrity="sha384-nEnU7Ae+3lD52AK+RGNzgieBWMnEfgTbRHIwEvp1XXPdqdO6uLTd/NwXbzboqjc2" crossorigin="anonymous">

  <link rel="stylesheet" href="./bundle.css">
  <title>IFridge</title>
</head>

<body>
  <div class="jumbotron">
    <h1>Welcome to IFridge</h1>
  </div>
  <div id="app">
    <div class="panel panel-primary">
      <div class="panel-heading">Input new grocery</div>
      <!--vi har brug for denne klasse "panel panel-primary" for at få fat med Axios-->
      <div class="panel-body">
        <form class="form-inline" id="groceryInputForm" v-on:submit.prevent="add()"> 
          <div class="form-group">
            <br>
            <input id="barcodeInput" type="number" class="form-control" v-model.number="formData.barcode" placeholder="Barcode #">
            <input id="nameInput" type="text" class="form-control" v-model="formData.wareName" placeholder="Name">
            <input id="categoriInput" type="text" class="form-control" v-model="formData.categori" placeholder="Categori">
            <input id="expirationDateInput" type="number" class="form-control" v-model.number="formData.expiration" placeholder="Expiration Date">
            <input id="weightInput" type="number" class="form-control" v-model.number="formData.weight" placeholder="Weight">
            <input id="pictureInput" type="text" class="form-control" v-model="formData.picture" placeholder="Picture">
          </div>
          <button id="add" class="btn btn-primary">Add to IFridge</button>
        </form>
      </div>
    </div>
    <br>

  <div class="panel panel-primary">
        
    <table id="Table1">
       <thead>
        <tr>
          <th id="barcodeButton" @click="sort('barcode')">Barcode</th>
          <th @click="sort('product.productName')">Product</th>
          <th @click="sort('product.expiration')">Expiration</th>
          <th @click="sort('subCategory.category.categoryName')">Category</th>
          <th @click="sort('weight')">Weight</th>
          
        </tr>
      </thead>
     <tbody>
        <tr id = "TableRows" v-for="grocery in sortedGroceries">
          <td class="barcodeList">{{grocery.barcode}}</td>
          <td class="nameList">{{grocery.product.productName}}</td>
          <td class="expirationList">{{grocery.product.expiration}}</td>
          <td class="categoryList">{{grocery.product.subCategory.category.categoryName}}</td>
          <td class="weightList">{{grocery.product.weight}}</td>
          <td class="pictureList">{{grocery.product.picture}}</td>
            <td> 
              <img class="warningImage" v-if="grocery.expireWarning" src="https://www.52oaks.com/app/uploads/2017/01/Achtung.svg_-768x673.png"> 
              <h6 v-else>Varen er stadig god</h6>  
            </td>
          </div>
          <td class="deleteButtonList"><button id="deleteButton" v-on:click="deleteRow(grocery.productInstanceId)">Delete</button></td>
        </tr>
     </tbody>
    </table>
  <button id="getAllButton" v-on:click="getAllGroceries()">Get List</button>
  </div>
  </div> 
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
 
  <script src="bundle.js"></script>
</body>

</html>