$fontColor: #0091aa;
$colorHeading: #ffffff;
#content  // div with id: content
{
  color: $fontColor;
}

h2 {
  color: $colorHeading;
}

h1 {
  @extend h2;
}

th {
  padding: 5px;
  text-align: center;
}

th {
  cursor: pointer;
}

td {
  text-align: center;
}

.recipeList {
  cursor: pointer;
}

.recipeList:hover {
  background-color: #d3d3d3;
}

#recipeTitle {
  display: block;
  font-size: 1.5em;
  margin-top: 0.83em;
  margin-bottom: 0.83em;
  margin-left: 0;
  margin-right: 0;
  font-weight: bold;
  text-decoration: underline;
  text-align: center;
}

.warningImage {
  width: 20px;
  height: 20px;
}

.jumbotron {
  background-image: url("https://cdn.pixabay.com/photo/2017/06/06/22/46/mediterranean-cuisine-2378758_960_720.jpg");
  background-color: black;
  background-size: cover;
  //height: 100%;
  width: 100%;
  text-align: center;
}

.icon {
  width: 20px;
}

//til listen af opskrifter
ul.no-bullets {
  list-style-type: none; /* Remove bullets */
  padding: 0; /* Remove padding */
  margin: 0; /* Remove margins */
  font-size: large;
}

.recipe {
  width: 50%;
}
