$fontColor: #0091aa;
$colorHeading: #be4a14;
#content  // div with id: content
{
  color: $fontColor;
}

h2 {
  color: $colorHeading;
}

h1 {
  @extend h2;
}

td,
th {
  padding: 5px;
  text-align: center;
}

th {
  cursor: pointer;
}

.warningImage {
  width: 20px;
  height: 20px;
}

.isthere{
  color: red;
}
